<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="../public/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <title>Deck Of Many Cards</title>
  </head>
  <body>
    <header class="header-container">
      <nav>
        <ul class="header-menu">
          <li >
            <a href="initTracker.html" class="header-link">Initiative Tracker</a>
          </li>
          <li >
            <a href="deckOfMany.html" class="header-link">Deck Of Many Things</a>
          </li>
          <li >
            <a href="magicItems.html" class="header-link">Magic Items</a>
          </li>
          <li class="header-line"></li>
          <li>
              <a class="header-resume btn" href="../index.html">Home</a>
          </li>
        </ul>
        
      </nav>
  </header>
    <main>
        <div class="container" >
            <div class="button-parent">
            <button id="drawButton" class="domt-button btn">Pull a card</button>
            <div class="slidecontainer">
                <input type="range" min="1" max="66" value="1" class="slider" id="myRange">
            </div>
             </div>
            <div id="cardContainer" class="hidden">
                <div class="card">
                    <h2 class="card-title">Void</h2>
                    <div class ="line"></div> 
                    <p class="card-description">This black card spells disaster. Your soul is drawn from your body and contained in an object in a place of the DM's choice. One or more powerful beings guard the place. While your soul is trapped in this way, your body is incapacitated. A wish spell can't restore your soul, but the spell reveals the location of the object that holds it. You draw no more cards.</p>
                </div>
            </div>
         </div>
    </main>
    <script type="module" src="../src/main.js"></script>
  </body>
</html>

