<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D&D Project</title>
  </head>
  <body>
    <header class="header container">
      <nav>
        <ul class="header-menu">
          <li >
            <a href="/buy" class="header-link">Buy</a>
          </li>
          <li >
            <a href="/contact" class="header-link">Contact</a>
          </li>
          <li class="header-line"></li>
    
          <li>
            <a><i class="fa-solid fa-sun header-link"></i> </a>
          </li>
          <li>
              <a class="header-resume btn" href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fraw.githubusercontent.com%2FManunson%2FCIS445_Project2%2F06c5246dc127f977f4f48b3f3364abc3285d81f6%2Fpublic%2FMara%2520Anunson%2520Resume%25202023%2520(2).docx&wdOrigin=BROWSELINK" download="Mara_Anunson_Resume.docx" target="_blank">Resume</a>
              
            
          </li>
        </ul>
        
      </nav>
  </header>
    <section>
      <h1>Dungeons & Dragons </h1>
      <p>Click the button to roll a dice</p>
      <button id="roll">Roll</button>
      <p id="result"></p>

    </section>
    <script type="module" src="/main.js"></script>
  </body>
</html>
