<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="../public/style.css" />
    <link rel="stylesheet" href="../public/utils.css" />
    <link rel="stylesheet" href="../public/elements.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <title>Initiative Tracker</title>
  </head>
  <body>
    <header class="header-container">
      <nav>
        <ul class="header-menu">
          <li >
            <a href="initTracker.html" class="header-link">Initiative Tracker</a>
          </li>
          <li >
            <a href="deckOfMany.html" class="header-link">Deck Of Many Things</a>
          </li>
          <li >
            <a href="magicItems.html" class="header-link">Magic Items</a>
          </li>
          <li class="header-line"></li>
          <li>
              <a class="header-resume btn" href="../index.html">Home</a>
          </li>
        </ul>
        
      </nav>
  </header>
        <main>
        <div class="container-init">
            <h1>Initiative Tracker</h1>
            <div class="tracker">
              <div class="add-character">
                <input type="text" id="characterName" placeholder="Character Name">
                <input type="number" id="initiative" placeholder="Initiative">
                <button id="addButton">Add Character</button>
              </div>
              <div id="characterList" class="character-list"></div>
            </div>
          </div>
        </main>
    <script type="module" src="../src/main.js"></script>
  </body>
</html>

